.main{
    height: 100vh;
    background-image: url('../../Assets/kaushik-panchal-0juC5JIhPks-unsplash.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}